.v-input,
.v-input-range {
  position: relative;
  display: flex;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  input {
    flex: 1;
    font-size: 14px;
    outline-style: none;
    border: none;
    background: none;
    min-width: 120px;
  }
  i {
    margin: 10px;
  }
  .v-input-unit {
    padding: 8px;
    color: #969696;
  }
}

.v-input {
  justify-content: space-between;
  overflow: hidden;
  .v-input-before,
  .v-input-after {
    display: flex;
    align-items: center;
    color: #888;
    background-color: #e8e8e8;
  }
}

//  .v-input {
//   margin-bottom: 6px;
// }

.v-input-preview {
  line-height: 45px;
  width: 50%;
  i {
    margin-right: 5px;
  }
  .v-input-preview-unit {
    margin: 0 5px;
  }
}
