/*滚动条*/

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar,
::-webkit-scrollbar:hover {
  background: unset;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #acacac;
}
