.vt-main {
  color: var(--main-color);
  background: var(--main-background);
}

.vt-active {
  color: var(--active-color);
  background: var(--active-background);
}

.vt-link-active {
  color: var(--link-active-color);
  background: var(--link-active-background);
}

.vt-sub {
  color: var(--sub-color);
  background: var(--sub-background);
}
