:root {

  --main-color: #fff;
  --main-background: #6fdf74;

  --sub-color: #fff;
  --sub-background: #fff;

  --rmain-color: #fff;
  --rmain-background: #6fdf74;

  --hover-color: #fff;
  --hover-background: #60d365;

  --active-color: #6fdf74;
  --active-background: #fafafa;

  --link-active-color: #6fdf74;
  --link-active-color: #fff;

  --success-color: #fff;
  --success-background: #6fdf74;

  --warning-color: #fff;
  --warning-background: #fdd835;

  --info-color: #fff;
  --info-background: #70c0ff;

  --error-color: #fff;
  --error-background: #e44343;

  --disable-color: #fff;
  --disable-background: #f5f5f5;

}